.App {
  text-align: center;
}

.App-header {
  background-color: #1a1a1a; /* Olympic Park Obsidian */
  padding: 20px;
  color: #f9f6ef; /* Snowbird White */
}

main {
  height: calc(100vh - 80px); /* Adjusted for header only */
}